body, html {height: 100%;}
body{background-image: url(../Media/Cute-Girl.png); height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.img1{width: 550px;}
li{display: inline-block;
    font-size: 20px;
    padding: 20px;}

    
.login{text-align: center;}    
.login-head{color: yellowgreen;}
.age{color: aqua;}
.signup{text-align: center;}
.suc{text-align: center; color: yellowgreen;}
.youros{color: aqua;}
.country{width: 130px;}
.countrylabel{color: aqua;}
.ageinput{width: 125px;}
.gender{color: aqua;}
.login-page{padding: 10px; 
    padding-top: 1.2%;
    margin: auto;
    margin-top: 2%;
    width: 20%;
    height: 22%;
    background-color: rgba(128, 128, 128, 0.5);
    border-width: 8.5px;
    border-color: rgba(255, 0, 0, 0.850) rgba(0, 128, 0, 0.850) rgba(0, 0, 255, 0.850) rgba(255, 255, 0, 0.850);
    border-style: solid;


}